label {
  display: block;
}

input {
  margin-top: 0.5em;
  border: 2px solid;
  display: block;
  width: 100%;
  padding: 0.25em;
}

.auto-complete-wrapper{
    margin-bottom: 20px;
}

.suggestions li {
    text-align: left;
    padding: 0;
    margin: 0;
}

.suggestions li.selected {
  background-color: #e0e0e0;
  cursor: pointer;
}