button{
    background-color: #fff;
    border-radius: 25px;
    border: 5px solid #888;
    width: 150px;
    height: auto;
    color: #888;
}

button:hover {
    border-color: #f00;
    background-color: #fff;
    border: 5px solid #f00;
    color: #f00;
}

button:focus, button:focus-visible {
    outline: none;
}

.iconTextWrapper {
    display: flex;
    align-items: end;
    gap: 5px;
    justify-content: center;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

.loader.red {
  border-top: 3px solid #f00; /* red when active */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
